// ============================================================================
// Layout
// Iframe
// ============================================================================


// Layout Logic ---------------------------------------------------------------



// Layout Styling -------------------------------------------------------------
.l-iframe {
    height: 100vh;

    border: none;

    background-color: c(background, light);

}
