body
{
background-color: #ABEDFF;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
}

.o-page-aside
{
background-color: #FFC0AE;
    order: 1;
    flex: 0 1 auto;
    align-self: stretch;
}
