.o-page-section--enter-a-url
{
    height: 8.25rem;

    order: 1;
    flex: 0 1 auto;
    align-self: stretch;

    @include media(">30rem") {
        height: 5rem;
    }

    @include media(">50rem") {
        width: 60%;
    }
}

.o-page-section--website-preview
{
    order: 2;
    flex: 1 1 auto;
    align-self: stretch;

    @include media(">50rem") {
        order: 3;

        background-position: center 35%;
        background-size: 280px 280px;
    }
}

.o-page-section--background {
    background: url(../img/icon-lowvision.svg) no-repeat center center;
    background-size: 140px 140px;

    @include media(">50rem") {
        background-position: center 35%;
        background-size: 280px 280px;
    }
}

.o-page-section--low-vision-condition
{
    height: 5rem;

    order: 3;
    flex: 0 1 auto;
    align-self: stretch;

    @include media(">50rem") {
        order: 2;
    }

    @include media(">50rem") {
        position: relative;
          top: -5rem;
          left: 60%;
        width: 40%;
    }
}
