// ============================================================================
// Colors
// ============================================================================


/// Basic, component, and subcomponent color names.
///
/// @group general
///
/// @property {Color} key - Aliases for specific colors



$colors: (

    // Basics -----------------------------------------------------------------
    // http://clrs.cc/
    aqua:    #7fdbff,
    black:   #111111,
    blue:    #0074d9,
    fuchsia: #f012be,
    gray:    #aaaaaa,
    green:   #2ecc40,
    lime:    #01ff70,
    maroon:  #85144b,
    navy:    #001f3f,
    olive:   #3d9970,
    orange:  #ff851b,
    purple:  #b10dc9,
    red:     #ff4136,
    silver:  #dddddd,
    teal:    #39cccc,
    yellow:  #ffdc00,


    // Base -------------------------------------------------------------------
    base: (
        type:       #111111,
        background: #ffffff
    ),


    // Backgrounds ------------------------------------------------------------
    background: (
        dark:  #333333,
        light: #ffffff
    ),


    // Type -------------------------------------------------------------------
    type: (
        dark:  #333333,
        light: #ffffff
    ),


    // Links -------------------------------------------------------------------
    link: (
        base:    #00BFFF,
        hover:   lighten(#00BFFF, 20%),
        focus:   #f5ab35,
        active:  #00BFFF,
        visited: #00BFFF,
        busy:    #00BFFF
    ),


    // Buttons ----------------------------------------------------------------
    button-primary: (
        type:   #333333,
        base:   #00BFFF,
        hover:  lighten(#00BFFF, 20%),
        focus:  #f5ab35,
        active: darken(#00BFFF, 20%),
        busy:   #a9a9a9
    ),


    // Forms ------------------------------------------------------------------
    form: (
        base:   #ffffff,
        hover:  #ffffff,
        focus:  #ffffff,
        active: #ffffff,
        busy:   #ffffff
    )


    // Component --------------------------------------------------------------
//    c-component: (
//        subcomponent: value,
//        subcomponent: value
//    )
);
