<nav
    id="nav"
    class="l-nav"
    aria-labelledby="title-load-a-website"
    role="navigation">

    <h2
        class="content-hide-visually"
        id="title-load-a-website">
        Load a website
    </h2>

    <label
        class="c-site-loader__label is-valid"
        for="url">
        Website URL
    </label>

    <div class="c-site-loader__lockup">
        <input
            id="url"
            class="c-site-loader__input is-valid"
            autocapitalize="off"
            name="url"
            placeholder="http://example.com"
            type="url">

        <button
            class="c-site-loader__button--view is-valid"
            name="view-url">
            View <span class="content-hide-visually">URL</span>
        </button>

        <button
            class="c-button c-site-loader__button--conditions"
            name="apply-conditions">
            <span class="content-hide-visually">Apply </span>Conditions
        </button>
    </div>

</nav>
