<!--[if lt IE 11]>
<div
    id="o-browserupgrade"
    class="o-browserupgrade"
    aria-labelledby="title-outdated-browser">

    <h2 id="title-outdated-browser">
        You are using an outdated browser
    </h2>

    <p>
        <a rel="external noopener" href="http://caniuse.com/#search=svg%20filters">Certain features of this website</a> will not work unless you're using a modern browser. Please <a rel="external noopener" href="http://browsehappy.com/">upgrade your browser to improve your experience</a>.
    </p>

</div>
<![endif]-->
