input[name="c-controls--url"]
{
    @extend %bottom-spacer--half;

    padding: 0.5rem;
    width: 100%;

    border: 1px solid $color-primary;

    &:hover
    {
        border-color: lighten($color-primary, 7%);

        transition: background 200ms ease-in-out;
    }

    &:active,
    &:focus
    {
        border-color: darken($color-primary, 10%);

        transition: none;
    }

    @include media(">30rem") {
        padding-right: 7.5rem;
        width: 100%;
    }
}

button[name="c-controls--submit"]
{
    display: block;
    padding-top: 0.3rem;
    padding-bottom: 0.4rem;
    width: 100%;
    float: right;

    background-color: $color-primary;
    border: 0;

    color: #fff;

    transition: background 200ms ease-in-out;

    &:hover,
    &:focus
    {
        background-color: lighten($color-primary, 7%);
    }

    &:active
    {
        padding-top: 0.5rem;
        padding-bottom: 0.2rem;

        background-color: darken($color-primary, 10%);

        color: $color-secondary;

        transition: none;
    }

    @include media(">30rem") {
        height: 2.75rem;
        position: relative;
          top: -52px;
          right: 0;
        width: 7rem;
        z-index: 100;
    }
}

select[name="c-controls--condition"]
{
    width: 100%;
    height: 2.1rem;

    border-color: $color-primary;

    @include media(">50rem") {
        height: 2.75rem;
    }
}
