.c-controls--low-vision-submission
{
//background-color: #90FF93;

    @extend %bottom-spacer--full;
    float: left;
    width: 100%;

    select[name="c-controls--select"]
    {
        width: 100%;
        height: 2.2rem;
        -webkit-appearance: menulist-button;

        border-color: $color-primary;
    }

    @include media(">=34rem") {
        float: right;
        width: 37%;
    }
}
