.remodal
{
    .c-remodal--lede
    {
        margin: 2.5rem 1.5rem 1.5rem 1.5rem;

        color: $color-primary;
        font-size: 1.1rem;
        font-weight: 700;
        text-align: left;

        @include media(">30rem") {
            margin: 3rem 2.5rem 1.5rem 2.5rem;

            font-size: 1.3rem;
        }
    }

    p
    {
        margin-left: 1.5rem;
        margin-right: 1.5rem;

        color: $color-tertiary;
        font-size: 0.8rem;
        line-height: 1.6;
        text-align: left;

        @include media(">30rem") {
            margin-left: 2.5rem;
            margin-right: 2.5rem;

            font-size: 1rem;
        }
    }

    .c-remodal--learn-more
    {
        margin-top: 2.8rem;
        margin-bottom: -0.3rem;

        color: $color-primary;
        letter-spacing: 0.1rem;
        text-align: center;
        text-transform: uppercase;

        @include media(">30rem") {
            font-size: 0.9rem;
        }
    }

    .c-remodal--more-info
    {
        padding-left: 0;
        margin-bottom: 0;

        list-style-type: none;
    }

    .c-remodal--more-info-item
    {
        display: block;
        margin-top: 1rem;
        padding-top: 0.8rem;
        padding-bottom: 0.7rem;
        width: 100%;

        border-top: 1px solid lighten($color-tertiary, 35%);
        border-bottom: 1px solid lighten($color-tertiary, 35%);

        color: $color-tertiary;
        font-size: 1rem;
        text-align: center;
        text-transform: uppercase;

        transition: background $transition-default;

        @include media(">30rem") {
            width: 50%;
            float: left;

            &:last-of-type
            {
                border-right: 1px solid lighten($color-tertiary, 35%);
            }
        }

        &:last-of-type
        {
            margin-top: -1px;
        }

        &:hover,
        &:focus
        {
            background-color: lighten($color-secondary, 10%);
        }

        &:active
        {
            background-color: $color-tertiary;

            color: #fff;
        }
    }
}
