<section
    id="conditions"
    class="o-conditions o-conditions__close-and-reset"
    aria-labelledby="title-add-conditions"
    role="region">

    <h2
        class="content-hide-visually"
        id="title-add-conditions">
        Add conditions
    </h2>

    {{>objects/o-conditions/o-color-deficiency}}
    {{>objects/o-conditions/o-pervasive}}
    {{>objects/o-conditions/o-blocked-visual-field}}

    <!-- Controls -->
    <button
        class="c-button c-button--secondary"
        name="reset-all">
        Reset All
    </button>

    <button
        class="c-button c-button--primary"
        name="close">
        Close
    </button>

</section>
