html
{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    vertical-align: baseline;
}

*,
*:before,
*:after
{
    box-sizing: inherit;
}


body
{
    height: 100%;
    margin: 0;
    width: 100%;

    background-color: $color-secondary;

    // Sets the body as the flex container
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}
