// Resets iOS styling
input {
    -webkit-appearance: none;
    border-radius: 0;
}

fieldset
{
    border: 0;
}

legend
{
    @extend %visuallyhidden;
}

label
{
    display: block;

    font-size: 11pt;
}

select
{
    -webkit-appearance: menulist-button;
}
