<header
    id="header"
    class="l-header"
    aria-labelledby="title-lowvision-support"
    role="banner">

    <h1
        class="content-hide-visually"
        id="title-lowvision-support">
        lowvision.support
    </h1>

    {{>layout/l-nav/l-nav}}

    <div class="l-header__introduction">
        <p>
            Help improve your website's accessibility by simulating common low vision conditions and color-blindness.
        </p>
        <p>
            <a
                href="http://webaim.org/articles/visual/lowvision"
                rel="extrnal noopener">
                Learn more<span class="content-hide-visually"> about what Low Vision is</span>
            </a>
        </p>
    </div>

</header>
