<fieldset
    id="blocked-visual-field"
    class="o-condition"
    aria-describedby="title-blocked-visual-field">

    <legend id="title-blocked-visual-field">
        Blocked Visual Field
    </legend>

    <button
        class="c-button c-button--text"
        name="reset-blocked-visual-field">
        Reset <span class="content-hide-visually">Blocked Visual Field</span>
    </button>

    <label for="strength">
        <input id="strength" name="strength" type="range" min="0" max="10" value="0">
        Strength
    </label>

    <label for="blocked-visual-field">
        <input id="central" name="blocked-visual-field" type="radio">
        Central
        <span>Macular Degeneration</span>
    </label>
    <label for="blocked-visual-field">
        <input id="peripheral" name="blocked-visual-field" type="radio">
        Peripheral
        <span>Glaucoma</span>
    </label>
    <label for="blocked-visual-field">
        <input id="corner" name="blocked-visual-field" type="radio">
        Corner
        <span>Retinal Detachment</span>
    </label>
    <label for="blocked-visual-field">
        <input id="hemianopia" name="blocked-visual-field" type="radio">
        Side
        <span>Hemianopia</span>
    </label>
    <label for="blocked-visual-field">
        <input id="large-spots" name="blocked-visual-field" type="radio">
        Large Spots
        <span>Diabetic Retinopathy</span>
    </label>
    <label for="blocked-visual-field">
        <input id="floaters" name="blocked-visual-field" type="radio">
        Floaters
        <span>Foo bar</span>
    </label>

</fieldset>
