<fieldset
    id="color-deficiency"
    class="o-condition"
    aria-describedby="title-color-deficiency">

    <legend id="title-color-deficiency">
        Color Deficiency
    </legend>

    <button
        class="c-button"
        name="reset-color-deficiency">
        Reset <span class="content-hide-visually">Color Deficiency</span>
    </button>

    <label for="color-deficiency">
        <input id="protanopia" name="color-deficiency" type="radio">
        Protanopia
        <span>Red-green, no red cones</span>
    </label>
    <label for="color-deficiency">
        <input id="deuteranopia" name="color-deficiency" type="radio">
        Deuteranopia
        <span>Red-green, no green cones</span>
    </label>
    <label for="color-deficiency">
        <input id="tritanopia" name="color-deficiency" type="radio">
        Tritanopia
        <span>Blue-yellow, no blue cones</span>
    </label>
    <label for="color-deficiency">
        <input id="monochromacy" name="color-deficiency" type="radio">
        Monochromacy
        <span>No cones</span>
    </label>

</fieldset>
