<section class="o-conditions o-conditions__color-deficiency">
    <fieldset
        id="color-deficiency"
        class="o-conditions__fieldset"
        aria-describedby="title-color-deficiency">

        <legend
            id="title-color-deficiency"
            class="o-conditions__legend">
            Color Deficiency
        </legend>

        <button
            class="c-button c-button--secondary"
            name="reset-color-deficiency">
            Reset <span class="content-hide-visually">Color Deficiency</span>
        </button>

        <!-- Toggles -->
        <div class="o-conditions__wrapper">

            <label class="c-input">
                <input
                    id="deuteranopia"
                    class="c-input__radio"
                    name="color-deficiency"
                    type="radio"
                    value="deuteranopia" />
                <span class="c-input__label--primary">
                    Deuteranopia
                    <span class="c-input__label--secondary">
                        Red-green, no green cones
                    </span>
                </span>
            </label>

            <label class="c-input">
                <input
                    id="protanopia"
                    class="c-input__radio"
                    name="color-deficiency"
                    type="radio"
                    value="protanopia" />
                <span class="c-input__label--primary">
                    Protanopia
                    <span class="c-input__label--secondary">
                        Red-green, no red cones
                    </span>
                </span>
            </label>

            <label class="c-input">
                <input
                    id="monochromacy"
                    class="c-input__radio"
                    name="color-deficiency"
                    type="radio"
                    value="monochromacy" />
                <span class="c-input__label--primary">
                    Monochromacy
                    <span class="c-input__label--secondary">
                        No cones
                    </span>
                </span>
            </label>

            <label class="c-input">
                <input
                    id="tritanopia"
                    class="c-input__radio"
                    name="color-deficiency"
                    type="radio"
                    value="tritanopia" />
                <span class="c-input__label--primary">
                    Tritanopia
                    <span class="c-input__label--secondary">
                        Blue-yellow, no blue cones
                    </span>
                </span>
            </label>

        </div>
    </fieldset>
</section>
