<fieldset
    id="pervasive"
    class="o-condition"
    aria-describedby="title-pervasive">

    <legend id="title-pervasive">
        Pervasive
    </legend>

    <button
        class="c-button c-button--text"
        name="reset-pervasive">
        Reset <span class="content-hide-visually">Pervasive</span>
    </button>

    <label for="pervasive">
        <input id="blur" name="pervasive" type="range" min="0" max="10" value="0">
        Blur
        <span>Low Acuity</span>
    </label>
    <label for="pervasive">
        <input id="cataracts" name="pervasive" type="range" min="0" max="10" value="0">
        Cataracts
        <span></span>
    </label>
    <label for="pervasive">
        <input id="contrast-loss" name="pervasive" type="range" min="0" max="10" value="0">
        Contrast Loss
        <span></span>
    </label>
    <label for="pervasive">
        <input id="ghosting" name="pervasive" type="range" min="0" max="10" value="0">
        Ghosting
        <span></span>
    </label>
    <label for="pervasive">
        <input id="glare" name="pervasive" type="range" min="0" max="10" value="0">
        Glare
        <span></span>
    </label>
    <label for="pervasive">
        <input id="snow" name="pervasive" type="range" min="0" max="10" value="0">
        Snow
        <span></span>
    </label>

</fieldset>
