<section class="o-conditions o-conditions__pervasive">
    <fieldset
        id="pervasive"
        class="o-conditions__fieldset"
        aria-describedby="title-pervasive">

        <legend
            id="title-color-deficiency"
            class="o-conditions__legend">
            Pervasive
        </legend>

        <button
            class="c-button c-button--secondary"
            name="reset-color-deficiency">
            Reset <span class="content-hide-visually">Pervasive</span>
        </button>

        <!-- Toggles -->
        <label class="c-input">
            <span class="c-input__label--primary">
                Blur
            </span>
            <input
                id="blur"
                class="c-input__range"
                min="0" max="10" value="0"
                name="pervasive"
                type="range" />
        </label>

        <label class="c-input">
            <span class="c-input__label--primary">
                Cataracts
            </span>
            <input
                id="cataracts"
                class="c-input__range"
                min="0" max="10" value="0"
                name="pervasive"
                type="range" />
        </label>

        <label class="c-input">
            <span class="c-input__label--primary">
                Contrast Loss
            </span>
            <input
                id="contrast-loss"
                class="c-input__range"
                max="10" value="0"
                name="pervasive"
                type="range" min="0" />
        </label>

        <label class="c-input">
            <span class="c-input__label--primary">
                Ghosting
            </span>
            <input
                id="ghosting"
                class="c-input__range"
                min="0" max="10" value="0"
                name="pervasive"
                type="range" />
        </label>

        <label class="c-input">
            <span class="c-input__label--primary">
                Glare
            </span>
            <input
                id="glare"
                class="c-input__range"
                min="0" max="10" value="0"
                name="pervasive"
                type="range" />
        </label>

        <label class="c-input">
            <span class="c-input__label--primary">
                Snow
            </span>
            <input
                id="snow"
                class="c-input__range"
                min="0" max="10" value="0"
                name="pervasive"
                type="range" />
        </label>

    </fieldset>
</section>
