<main
    id="main"
    class="l-main"
    aria-labelledby="title-loaded-website"
    role="main">

    <h2
        class="content-hide-visually"
        id="title-loaded-website">
        Loaded website
    </h2>

    {{>layout/l-iframe/l-iframe}}

</main>
