<main
    id="main"
    class="l-main"
    aria-labelledby="title-loaded-website"
    role="main">

    <h2 id="title-loaded-website">
        Loaded website
    </h2>

    <iframe
        id=""
        class=""
        name=""
        src=""
        seamless=""
        sandbox="allow-scripts allow-same-origin allow-popups allow-forms">
    </iframe>

</main>
