<div
    id="filters"
    class="o-filters">

    <div
        id="deuteranopia"
        class="filter filter__deficiency filter__deficiency--deuteranopia">
    </div>

    <div
        id="monochromacy"
        class="filter filter__deficiency filter__deficiency--monochromacy">
    </div>

    <div
        id="protanopia"
        class="filter filter__deficiency filter__deficiency--protanopia">
    </div>

    <div
        id="tritanopia"
        class="filter filter__deficiency filter__deficiency--tritanopia">
    </div>

    <div
        id="blur"
        class="filter filter__pervasive filter__pervasive--blur">
    </div>

    <div
        id="cataracts"
        class="filter filter__pervasive filter__pervasive--cataracts">
    </div>

    <div
        id="contrast-loss"
        class="filter filter__pervasive filter__pervasive--contrast-loss">
    </div>

    <div
        id="ghosting"
        class="filter filter__pervasive filter__pervasive--ghosting">
    </div>

    <div
        id="glare"
        class="filter filter__pervasive filter__pervasive--glare">
    </div>

    <div
        id="snow"
        class="filter filter__pervasive filter__pervasive--snow">
    </div>

    <div
        id="central"
        class="filter filter__blocked filter__blocked--central">
    </div>

    <div
        id="peripheral"
        class="filter filter__blocked filter__blocked--peripheral">
    </div>

    <div
        id="corner"
        class="filter filter__blocked filter__blocked--corner">
    </div>

    <div
        id="side"
        class="filter filter__blocked filter__blocked--side">
    </div>

    <div
        id="large-spots"
        class="filter filter__blocked filter__blocked--large-spots">
    </div>

    <div
        id="floaters"
        class="filter filter__blocked filter__blocked--floaters">
    </div>

</div>
