.js-form-error--label
{
    color: $color-error;

    transition: color 100ms ease;
}

.js-form-error--field
{
    border-color: $color-error !important;

    transition: color 100ms ease;

    &:hover
    {
        border-color: darken($color-error, 14%);
    }
}

.js-form-error--button
{
    background-color: $color-error !important;

    transition: color 100ms ease;

    &:hover,
    &:focus
    {
        background-color: darken($color-error, 21%) !important;
    }

    &:active
    {
        background-color: darken($color-error, 35%) !important;
    }

}
